/* For some browsers? */
* {
    box-sizing: border-box;     
}

/* High level Styling */
#USMap {
    max-width: 75%;
    max-height: 75%;
}

#StateGrid {
    display: grid;  /* Enable CSS Grid */
    grid-gap: 0px;
    grid-template-columns: 25% 25% 25% 25%;
    height: 100%;
    width : 100%;
}
#StatePage{
    font-family: Times, 'Times New Roman', serif;
}
#StatePage h3{
    color: teal;
}
#Nation h3{
    color: teal;
}
#Comments {
    outline: 1px solid teal;
}
#Comments h4{
    text-decoration: underline;
    margin-bottom: 2px;
}
#Comments h5 {
    font-weight: normal;
    margin: 0px;
}
#Comments h6 {
    font-style: italic;
    margin: 0px;
    margin-bottom: 2px;
}

button {
    background-color : teal;
    color : black;
}


#popup {
    display: none;
}

button:hover {
    display: block;
    background-color: cadetblue;
}